<div class="top">
<h3 class="title">ようこそ <b>Bookers</b> へ！</h3>
</div>
<div class="title-text">
<p class="title-text-item"><b>Bookers</b> では、さまざまな書籍に関するあなたの意見や</p>
<p class="title-text-item">印象を共有し交換することができます</p>
<%= link_to "start","/books", class:"social" %>
</div>