<div class="top">
<h2 class="title">ようこそ <b>Bookers</b> へ！</h2>
</div>
<div class="title-text">
<p class="title-text-item"><b>Bookers</b> では、さまざまな書籍に関するあなたの意見や</p>
<p class="title-text-item">印象を共有し交換することができます</p>
<a class="title-text-item" href="#">start</a>
</div>
