
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear:both;
}
p{
	font-size: 13px;
	font-family: "Arial"
}
.top{
	margin: 30px 30px;
}
.title{
	font-size: 28px;
	font-family: "Arial"
}
.title-text-item{
	margin-bottom: 30px;
	padding-left: 60px;
}
.social{
	margin-left:60px;
	color: gray;
}
.body{
	font-size: 13px;
	margin:10px 0;
}
table{
	width: 850px;
	margin: 15px 0;
}
th{
	margin: 0 auto;
	padding: 5px 0;
	padding-right: 100px;
}
td{
	margin: 0 auto;
	padding: 5px 0;
}
.new{
	margin-top: 10px;
}
.titles{
    font-size: 22px;
	font-family: "Arial"
}
a{
	color: black;
}
head{
	background-color: red;
}
.flash{
	margin:40px;
	color: green;
}
.switch{
	float:left;
}
.button{
    margin-left: 25px;
}
.break{
	float:left;
	margin: 0 3px;
}
.book-box{
 margin:30px 50px;
}
.book-box1{
 margin-bottom: 40px;
}
.book-title{
float:left;
}
.book-text{
	float:left;
}

